#jinja2: lstrip_blocks: "true"

{% for port_groups in all_ports %}

{% for int in all_ports[port_groups]['ports'] %}
interface range {{ all_ports[port_groups]['name'] }}{{ all_ports[port_groups]['module'] }}/{{ all_ports[port_groups]['card'] }}/{{ int|string }}
  description {{ all_ports[port_groups]['description'] }}
  switchport host
  switchport mode access
  spanning-tree bpduguard enable
{# }!!!!!!! DEBUG INFO
  !{{ port_groups|string }}
!!!!!!! END DEBUG #}
  {% if port_groups|string is match("USERS*") %}
  switchport access vlan {{ site_vlans['USERS']['vlan_id'] }}
  {% if site_vlans['USERS']['voice_vlan'] == true %}
  switchport voice vlan {{ site_vlans['VOICE']['vlan_id'] }}
  {% endif %}
  {% endif %}
  {% if port_groups|string is match("SECURITY*") %}
  switchport access vlan {{ site_vlans['SECURITY']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("AV*") %}
  switchport access vlan {{ site_vlans['AV']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("DMZ*") %}
  switchport access vlan {{ site_vlans['DMZ']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("GUEST*") %}
  switchport access vlan {{ site_vlans['GUEST']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("MGMT*") %}
  switchport access vlan {{ site_vlans['MGMT']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("SERVERS*") %}
  switchport access vlan {{ site_vlans['SERVERS']['vlan_id'] }}
  {% endif %}
  {% if port_groups|string is match("STORAGE*") %}
  switchport access vlan {{ site_vlans['STORAGE']['vlan_id'] }}
  {% endif %}
  {% if all_ports[port_groups]['admin_up'] == true %}
  no shut
  {% endif %}
  {% if all_ports[port_groups]['admin_up'] == false %}
  shut
  {% endif %}
{% endfor %}
{% endfor %}
